#header {
    background-image: url('/content/images/header.jpg');
    background-color: #1f2533;
    min-height: 350px;
    background-position: center center;
    background-repeat: no-repeat;
}

body {
    background-color: #FFF;
    font-family: 'Cabin', sans-serif;
}

h1, h2, h3 {
    padding: 0px;
    margin: 0px;
}

h2 {
    font-size: 4em;
}

h1, h3 {
    color: #FFF;
}

h1.site-title {
    font-size: 8em;
    padding-top: 80px;
}

h3.subtitle {
    padding-top: 20px;
    color: #baf6f7;
}

@media (max-width: 562px) {
    h1.site-title {
        padding-top: 20px;
    }
}
